:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 20rem; /* 320px */
  min-height: 100vh;
}

a {
  color: inherit;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 0.75rem;
  z-index: 999;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
